 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;

}
html{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: rgba(0, 0, 255, 0.024);
   
   
}

  
main{
        height: 60vh;
        width: 380px;
        background-color: rgb(255, 255, 255);
        margin: 25vh auto;  
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        


       
    }
    
.result{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
       height: 100%;
        width: 50%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       border-radius: 25px;
    }

.resultpara{
        color: hsl(241, 100%, 89%);
        font-size:13px ;

        

    }
.circle{
        background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
        border-radius: 50%;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       height:6rem ;
       width:6rem ;
       
    }

.score{

    color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.allscore{
    color: hsl(241, 100%, 89%);
    font-size:10px ;
}

h2{
    color:white; 
    font-size:17px ;
}

.scoredesc{
    color: hsl(241, 100%, 89%);
    font-size: 10px;
    font-weight: 400;
    width:140px ;
    text-align: center;

}

.summary{
    
    border-radius: 0 25px 25px 0;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 50%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;

}
.summarypara{
    color: hsl(224, 30%, 27%);
    font-weight: 600;
    padding-right: 5rem;
  margin-bottom: .8rem;
    font-size: 14px;
    
 
  

    
}
ul{
    font-size: 10px;
    width: 99%;
}
li{
    padding: .4rem;
    margin:.6rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reaction{
    background-color:  hsla(0, 100%, 67%, 0.146);

}


.memory{
    background-color: 
    hsl(39, 100%, 56% , 0.146)

}
.verbal{
    background-color: hsl(166, 100%, 37%, 0.146)

}
.visual{
    background-color: hsl(234, 85%, 45% , 0.146)

}


.summary div{
    display:flex ; 
    align-items: center; 
}


.redtext{
    color:hsl(0, 100%, 67%);
    margin-left: 10px;
}
.orangetext{
    color: hsl(39, 100%, 56%);
    margin-left: 10px;
}
.greentext{
    color: hsl(166, 100%, 37%);
    margin-left: 10px;

}
.bluetext{
    color: hsl(234, 85%, 45%);
    margin-left: 10px;


}
button{
    background-color:hsl(224, 30%, 27%);
    color: white;
    width:90%;
    border-radius: 22px;
    padding:  0.4rem 0;
    margin-top: .5rem;
}

@media only screen and (max-width: 480px){
   main{
     
     flex-direction: column;
     width: 200px;
     height: 85vh;
    
    
    }
    .result {
       border-radius:0 0 13px 13px ;
        height: 40%;
       
        width: 100%;
        
    }
    .summary{
        width: 100%;
        height: 60%;
        background-color: white;
        border-radius:0  ;
       
       
       
    }
    .summarypara{
        padding-right: 5rem;
        margin-bottom: 0rem;
        font-size: 12px;
       
    }
    .resultpara{
       
        font-size:12px ;

    }
    .circle{
        height:4rem ;
        width:4rem ;

    }
    .score{
        font-size: 28px;
    }
    .allscore{
        font-size:9px ;
    }
    h2{
        font-size: 12px;
    }
    .scoredesc{
       
        font-size: 9px;
    }
    ul{
        font-size: 10px;
    }
    li{
        padding: .2rem;
         margin:.6rem;
        
        
    }
    button{padding:  0.3rem 0;}
    .attribution {
        font-size:7px;
        text-align: center;
        margin-top: 1rem; }
   
}

